*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #EAEDED;
  
}
html{
  overflow-x: hidden !important;
}
.top_navbar{
  background-color: #131921;
  color: #fff;
}
.search_button{
  background-color: #F7CA00;
}
.navbar{
  background-color: #232F3E;
  color: #fff;
}
.nav-link{
  color: #fff !important;
  padding: 3px;
}
.nav-btn{
  border: 1px solid #232F3E;
}
.nav-btn:hover{
  border: 1px solid #fff;
  border-radius: 3px;
}
.inner_row{
  padding: 0rem 1rem !important;

}

/* ========================
      home page
===========================*/
#slider{
  height: 16rem;
}
.carousel-inner{
  background-size: cover;
}
.card{
  border-radius: 0;
}
.bg_category{
  background-color: #F2FAFB;
  border: 1px solid #fff;
  padding-top: 1rem;
}
.bg_category p{
  color: #000;
}
.securely_singin{
  text-align: center;
  background-color: #F7CA00;
  border-radius: 2rem;
  width: 100%;
}
.add{
  padding-top: 1rem;
}

/* ===========================
  produts page
  ============================ */
  .social-icon{
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .category_btn:hover{
    background-color: #333;
  }


/* ==========================
  media query for responsive
============================= */
@media only screen and (max-width: 375px) {
  .carousel{
    height: 5rem !important;
  }
};