body{
    background-color: #f0f0f0;
}
.login-body{
    background-color: #fff;
    margin: 5rem 25rem;
    padding: 3rem;
}
.user-login, .admin-login{
    font-size: 3rem;
}
.card{
    border-radius: 0px;
}
.registation_body{
    margin: 5rem 20rem !important;
}